%h1 All users


%table#movies
  %thead
    %tr
      %th ID
      %th Rating
      %th email
      %th More info
      %th trading
  %tbody
    - @userinfos.each do |user|
      %tr
        %td= user.uid 
        %td= user.fname
        %td= user.email
        %td= more(will be a link to users info)
        %td= trade(will be a link to trade)


