-#<!DOCTYPE html>
-#<html>
-#<head>
-#  <title>Tradestuff</title>
-#  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
-#  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
-#  <%= csrf_meta_tags %>
-#</head>
-#<body>

-#<%= yield %>

-#</body>
-#</html>
%html
  %head
    %title Tradestuff
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    
  %body
    %h1.title Tradestuff
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
  
      = yield