<!DOCTYPE html>
<html>
  <head>
    <title>TradeStuff</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <div class="logo">
    <%= link_to image_tag("logo.png", width: '762px'), root_path %>
    </div>
    
    <div class="sidebar">
    <%= image_tag("Sidebar.png") %>
    </div>
    
    <div class="myAccountButton">
    <% if current_user %>
    <%= link_to image_tag("MyAccount.png"), home_users_account_path %>
    <% else %>
    <%= link_to image_tag("MyAccount.png"), "/auth/facebook", id: "sign_in" %>
    <% end %>
    </div>
    
    <div class="searchButton">
    <%= image_tag("Search.png") %>
    </div>
    
    <div class="tradesButton">
    <%= image_tag("Trades.png") %>
    </div>
    
    <div class="haveButton">
    <%= image_tag("Have.png") %>
    </div>
    
    <div class="wantButton">
    <%= image_tag("Want.png") %>
    </div>
    
    <div class="user_nav">
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to " Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>