%h2 Details about #{@user.first_name}

%ul#details
  %li
    User:
    = @user.last_name


%h3 Email:

%p#email= @user.email

= link_to 'Edit info', edit_user_path(@users)
= link_to 'Back to movie list', user_path
= link_to 'Delete', user_path(@users), :method => :delete